@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.header-font {
  font-family: "Montserrat", sans-serif;
}

.main-color {
  color: #3cbab2;
}

.yellow-color {
  color: #d8b207;
}

.red-color {
  color: #c71b1b;
}

body {
  margin: 0;
  background-color: whitesmoke;
  color: whitesmoke;
}

h3 {
  font-size: 140%;
  margin-bottom: 2vh;
  color: #363640;
}

h4 {
  font-size: 120%;
  margin-top: 1vh;
  font-weight: normal;
  color: #363640;
}

.home-background {
  background-image: url("homepage-new-bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  background-position: bottom right;
  height: 94vh;
  width: 100%;
}

.main-text {
  font-size: 110%;
  width: 38vw;
  height: 32rem;
  text-align: center;
}

@media only screen and (max-width: 940px) {
  .main-text {
    width: 90vw;
  }
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 5.5rem;
  border-radius: 10px;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: #3cbab2;
}

.big-data-grid {
  margin: 3rem auto 1rem 1rem;
  width: 80%;
}
.big-data-grid-center {
  margin: 3rem auto 1rem auto;
  width: 80%;
}
.popover-container {
  margin: 0.5rem auto 1rem auto;
  width: 100%;
}

.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)
  > td:not(.dx-focused) {
  cursor: pointer;
}

.dx-field-label {
  padding-top: 5px;
}

label {
  color: #363640;
}

.line {
  width: 100%;
  border-bottom: 1px solid #898d90;
  padding: 15px 0 10px 0;
  margin-bottom: 20px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 7px solid #009385;
  padding: 6px;
}

.avatar:hover {
  transition: all 0.2s linear;
  padding: 2px;
  cursor: pointer;
}

.primary-border {
  background-color: #d7d7d7;
  padding: 8px 14px;
  margin: 2vh 0 1vh 0;
  border-radius: 10px;
}

.secondary-border {
  background-color: #afaeae;
  padding: 8px 14px;
  margin: 2vh 0 1vh 0;
  border-radius: 10px;
}

.secondary-border2 {
  background-color: rgba(220, 54, 64, 0.5);
  padding: 8px 14px;
  margin: 2vh 0 1vh 0;
  border-radius: 10px;
  font-size: 125%;
}

.grid-icon {
  color: #adadad;
}

.grid-icon:hover {
  color: #3cbab2;
}
